- Initialized

### Version History

... [more](./CHANGELOG.md)

## ⚙ Get Started

1. Initialized

    ```bash
    git clone REPLACE_WITH_YOUR_APP_GIT_LINK
    ```

2. Go to project folder

    ```bash
    cd REPLACE_WITH_YOUR_PROJECT_NAME
    ```

3. (Optional) Rename `.env.local.example` to `.env.local` with contents from Wiki / Snippet

4. Set up environment by command

    ```bash
    yarn
    ```

5. Run project by command

    ```bash
    # Start dev server
    yarn dev

    # Build for production
    yarn build

    # Locally preview the production build
    yarn preview
    ```

🌈 Vite Template `buildingwatsize/vite-react-tailwind-antd` – Made with ❤️ by Watsize 🌈
